.form{
    margin: auto;
    width: 100%;
}



.inputs input{
    border-radius: 4px;
    margin-left: 5px;
} 


.inputs {
    margin: 5px;
    display:flex;
    justify-content: space-between;
     
  }

.inputs {
    margin: 5px;
    display:flex;
    justify-content: space-between;
     
  }


.calculateButton{
    text-align: right;
}

.calculateButton button{
    margin: 5px;
    padding: 5px;
    background-color: #5cb85c;
    border-color: #5cb85c;
    color:white;
    border-radius: 4px;
}


.calculateButton button:hover{
    background-color: lightgreen;
    border-color: lightgreen
}

@media only screen and (max-width: 600px){
    .form{
        margin: auto;
        width: 100%;
    }
    
    
    
    .inputs input{
        border-radius: 4px;
        margin-left: 5px;
    } 
    
    
    .inputs {
        margin: 5px;
        display:flex;
        justify-content: space-between;
         
      }
    
    
    
    .calculateButton{
        text-align: right;
    }
    
    .calculateButton button{
        margin: 5px;
        padding: 5px;
        background-color: #5cb85c;
        border-color: #5cb85c;
        color:white;
        border-radius: 4px;
    }
    
    
    .calculateButton button:hover{
        background-color: lightgreen;
        border-color: lightgreen
    }

}