ul{
    list-style: none;
    display: flex;
    margin: 0%;
}

nav{
    justify-content: right;
    background-color: #212529;
    display: flex;
    padding: 5px;

}

li{
    padding: 10px;
    
}

.li a{
    color: white;
    text-decoration: none;
}